@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 100;
}

.container {
  width: 1020px;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  text-align: left;
  margin: 0px auto;
  margin-bottom: 80px;
  /* border-bottom: 1.5px solid #1f39ca; */
  padding-bottom: 70px;
}

.title {
  font-size: 30px;
  padding-bottom: 10px;
  grid-column: 4/7;
  font-family: "Merriweather", serif;
  color: #333;
}
.subTitle {
  font-size: 16px;
  grid-column: 4/7;
  font-family: "Roboto", sans-serif;
  color: #1f39ca;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.text {
  font-size: 16px;
  margin: 40px 0;
  grid-column: 4/7;
  font-family: "Roboto", sans-serif;
  color: #7b7b7b;
  font-weight: 300;
  line-height: 1.8;
}

.img {
  grid-column: 1/4;
  grid-row: 1/5;
  background-image: url("https://i.imgur.com/2nwrUy3.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  grid-column-end: 7;
  padding: 16px 16px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  background: rgb(19, 46, 193);
  background: linear-gradient(
    0deg,
    rgba(19, 46, 193, 1) 0%,
    rgba(31, 57, 202, 1) 100%
  );
  color: #fefefe;
  outline: none;
}
