.container{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    width: 1020px;
    text-align: center;
    margin: 0px auto;
    margin-top: 40px;
    border-bottom: 1.5px solid #1f39ca; 
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.logo, .nav, .link{
    height: 40px;
    align-items: center;
}

.logo{
    width: 40px;
    grid-column: 1/2;
    cursor: pointer;
    background-image: url("https://i.imgur.com/K6vhPms.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    grid-column: 3/5;
}

.nav .scrollLink {
    text-decoration: inherit;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
    font-weight: 300;
}


.nav .scrollLink:hover{
    transition: all 0.3s ease 0s;
    color: #48bea2;
}

.link{
    grid-column: 5/7;
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
}

.link li a{
    text-decoration: inherit;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #1f39ca;
    font-weight: 300;
}

.link li a:hover{
    transition: all 0.3s ease 0s;
    color: #48bea2;
}

.link li .linkedIn{
    padding: 14px 20px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    background: rgb(19, 46, 193);
    background: linear-gradient(
    0deg,
    rgba(19, 46, 193, 1) 0%,
    rgba(31, 57, 202, 1) 100%
  );
    color: #fefefe;
}

.link li .linkedIn:hover{
    transition: all 0.3s ease 0s;
    color: #48bea2;
}