
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 100;
  list-style: none;
  text-decoration: none
}

.App {
  font-family: sans-serif;
  text-align: center;
}


.container {
  width: 1020px;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  margin: 0px auto;
  margin-bottom: 80px;
  padding-bottom: 40px;
}

.bottomLine {
   border-bottom: 1.5px solid #1f39ca;
}

.left{
  grid-column: 1/4;
  text-align: left;
}

.right{
  grid-column: 4/7;
  text-align: right;
}

.alignCenter{
  grid-column: 3/5;
  text-align: center;
}

.left-start{
  grid-column-start: 1;
}

.right-end{
  grid-column-end: 7; 
}

.title {
  font-size: 30px;
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  color: #333;
}


.subTitle {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #1f39ca;
  font-weight: 300;
}


.text, .thingsList{
  color: #727272;
}

.text {
  font-size: 16px;
  padding: 60px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.8;
}

.thingsList{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.8;
}

.thingsList span{
  margin-left: 8px;
}

.basicButton{
  padding: 16px 20px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  background: rgb(19, 46, 193);
  background: linear-gradient(
  0deg,
  rgba(19, 46, 193, 1) 0%,
  rgba(31, 57, 202, 1) 100%
);
  color: #fefefe;
  outline: none;
}

.basicButton:hover{
  transition: all 0.3s ease 0s;
  color: #48bea2;
}

.messageBoxWrapper{
  background: rgb(19, 46, 193);
  background: linear-gradient(
  0deg,
  rgba(19, 46, 193, 1) 0%,
  rgba(31, 57, 202, 1) 100%
);
  grid-column: 1/7;
  border-radius: 4px;
  margin: 40px 0;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.messageBox {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  outline: none;
  height: 120px;
  margin-right: 40px;
  background: inherit;
  color: #fefefe;
  overflow: auto;
  border: none;
  outline: none;
  resize: none;
}
.messageBox::placeholder{
  color: #fefefe;
  font-weight: 300;
}

